body{
    color: #4c496a;
    background-color: #F2F2F2;
    position:relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI","Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft JhengHei";
}
body:after{
    content:'';
    width:98%;
    height:98%;
    position:absolute;
    top:1%;
    left:1%;
    border: 6px solid rgba(251, 245, 239, 0.5);
    z-index:-1;
}
span{
    color:#6ABBBE;
}
.content-wrapper{
    position:relative;
}
.color-secondary{
    color:#807189;
}
.content-wrapper:after{
    content:'';
    position:absolute;
    top:10px;
    bottom:-5px;
    width:3px;
    left:50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color:#4B446C;
}
.content p{
    color:#807189;
}
.content-box{
    position:relative;
}
.content-box:after{
    content:'';
    background-color: #4B446C;
    position:absolute;
    width:20px;
    height:20px;
    border-radius:50%;
    top:0px;
    -webkit-transform: translateX(-50%) translateY(20%);
        -ms-transform: translateX(-50%) translateY(20%);
            transform: translateX(-50%) translateY(20%);
}
.content-box:nth-child(odd):after{
    right: 0;
    -webkit-transform: translateX(50%) translateY(20%);
        -ms-transform: translateX(50%) translateY(20%);
            transform: translateX(50%) translateY(20%);
}

.content-box:nth-child(odd){
    text-align:right;
}
.content-box:nth-child(2){
    margin-top:45px;
}
.content-box:nth-child(3){
    margin-top:-90px;
}
.content-box:nth-child(5){
    margin-top:-120px;
}
.w-240{
    width:240px;
}
.content-list{
    position:relative;
}
.content-list p{
    cursor: default;
}
.detail{
    position:absolute;
    display:none;
    z-index:10;
    background-color: #fff;
    border:1px solid #4B446C;
    border-radius: 6px;
    left:150px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.16);
            box-shadow: 2px 2px 5px rgba(0,0,0,0.16);
}
.detail .skills{
    display:relative;
}
.detail.skills.skill-md{
    display: none;
}
.detail.show{
    display:block;
}
.detail:before{
    position:absolute;
    content:'';
    border-color:transparent #4B446C transparent transparent;
    border-width:10px;
    border-style: solid;
    display:block;
    top:3px;
    left:-20px;
    z-index:10;
}
.skill-list p{
    cursor: pointer;
}
.haha{
    background-image: url("image/haha.svg");
    background-position: center center;
    background-color: #fde375;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
ul{
    list-style: disc;
}
i{
    width:16px;
    height:16px;
    text-align:center;
}
a{
    color:#807189;
}
a:hover{
    color:#4B446C;
}
.info{
    position:absolute;
    width: 250px;
    right:20px;
    bottom:10px;
}
.bg1 img{
    position:absolute;
    width:700px;
    bottom: -15px;
    left: -250px;
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg); 
    -webkit-transform-origin: (0,0); 
        -ms-transform-origin: (0,0); 
            transform-origin: (0,0);
    opacity: 0.6;
    z-index:-2;
}
.bg2{
    top:0px;
    right:-300px;
    position:absolute;
    width:700px;
    top:0px;
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg); 
    -webkit-transform-origin: (0,0); 
        -ms-transform-origin: (0,0); 
            transform-origin: (0,0);
    z-index:-2;
    opacity: 0.6;
}
.bg2-wrapper{
    position:relative;
    overflow:hidden;
    width:700px;
    height:800px;
}
.list-title:active, .list-title:hover{
    color:#4c496a;
}
@media (max-width: 900px){
    .bg1 img, .bg2{
        opacity: 0.4;
    }
}

@media (max-width: 767.98px){
    .content-wrapper{
        margin-left:15px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
    .content-wrapper:after{
        left:0px;
    }
    .content-box:after{
        left:0;
    }
    .content-box:nth-child(odd){
        text-align:left;
    }
    .detail.show{
        display: none;
    }
    .detail.skills{
        position:relative;
        left:0;
    }
    .detail.skills:before{
        display:none;
    }
    .bg2 img{
        right:-350px;
    }
    .bg2{
        right:-450px;
    }
    .bg1 img{
        left:-450px;
    }
    .works{
        -webkit-box-ordinal-group: 8;
            -ms-flex-order: 7;
                order: 7;
    }
    .continue{
        -webkit-box-ordinal-group:9;
            -ms-flex-order:8;
                order:8;
    }
    .education{
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
    }
    .about{
        -webkit-box-ordinal-group:1;
            -ms-flex-order:0;
                order:0;
    }
    .skill{
        -webkit-box-ordinal-group:5;
            -ms-flex-order:4;
                order:4;
    }
    .experience{
        -webkit-box-ordinal-group:4;
            -ms-flex-order:3;
                order:3;
    }
    .language{
        -webkit-box-ordinal-group:6;
            -ms-flex-order:5;
                order:5;
    }
    .content-box:nth-child(2){
        margin-top:0px;
    }
    .content-box:nth-child(3){
        margin-top:0px;
    }
    .content-box:nth-child(5){
        margin-top:0px;
    }
    body:after{
        height:99%;
        top:.5%;
    }

    .skills{
        background-color: transparent;
        border:none;
        -webkit-box-shadow:none;
                box-shadow:none;
    }
    .skills .card{
        background-color: transparent;
        width: 100%;
        border:none;
    }
    .skills .card-body{
        padding: 1em;
        padding-top: 0px;
    }
    .content-box:nth-child(odd):after{
        -webkit-transform: translateX(-50%) translateY(20%);
            -ms-transform: translateX(-50%) translateY(20%);
                transform: translateX(-50%) translateY(20%);
    }
}

@media (max-width: 400px){
    .title{
        width: calc(100% - 100px);
    }
}